/**
 * Colors
 */
:root {
  --color-dipper: #202427;
  --color-mabel: #8f99a3;
  --color-stan: #c7ccd1;
  --color-wendy: #fff;
  --color-soos: #2578f4;
  --color-waddles: #2024271a;
  --color-manly-dan: #2024270d;
  --color-pacifica: #d7d7d7;
}
